@import "tailwindcss";

@theme {
  --animate-slow-zoom: zoom 20s infinite alternate;

  @keyframes zoom {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.1);
    }
  }
}
